<div class="center-align">
  <div class="row">
      <div class="hide-on-small-only col m5 col l5">
          <img class="responsive-image " src="/assets/paintings/nudeselfie.jpeg">
        <ul class="collection with-header" style="border: none;">
          <li class="collection-header" style="border: none;">
            <h5>Publications & Acknowledgments</h5>
          </li>
          <li class="collection-item" style="border: none;">first</li>
          <li class="collection-item" style="border: none;">second</li>
          <li class="collection-item" style="border: none;">third</li>
        </ul>
      </div>
    <img class="responsive-image hide-on-med-and-up " src="/assets/paintings/nudeselfie.jpeg">
    <div class="col s12 m6 l6 left-align">
      <h1>About</h1>
      <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor velit
        sed egestas lacinia. Proin tincidunt eleifend libero. Morbi non metus eu ipsum rhoncus lobortis in in sapien.
        Aenean vel pellentesque orci, non pretium nibh. Suspendisse dignissim vel felis at eleifend. Nullam finibus
        augue
        vel neque scelerisque dictum. Phasellus aliquet tincidunt tristique. In ac nunc id ante dictum finibus. Proin
        gravida pretium ante, sed faucibus arcu tempor id. In imperdiet non mauris eget sollicitudin.<br>

        Donec malesuada nec odio id viverra. Aliquam tincidunt finibus faucibus. Aenean feugiat nunc sit amet libero
        luctus, eget consectetur urna varius. Pellentesque at vulputate felis, at tristique neque. Suspendisse at
        finibus
        tortor. Vestibulum vulputate lacus non urna ultrices gravida. Pellentesque sed quam sed enim suscipit egestas.
        Quisque pulvinar enim vitae purus molestie, vel mollis turpis fringilla. Praesent condimentum, eros eu tempor
        euismod, mi felis facilisis dolor, sit amet vulputate ex quam et mauris. Vestibulum ante ipsum primis in
        faucibus
        orci luctus et ultrices posuere cubilia Curae; Fusce vestibulum lorem nec tortor fermentum consequat. Nam
        lobortis
        est eu interdum ultricies. Vivamus et condimentum mi, sit amet scelerisque nisi. Mauris ac ante in enim pharetra
        rutrum. Aliquam bibendum egestas augue, ut convallis urna auctor et.<br>

        Curabitur scelerisque porta sem, vel luctus leo mattis sed. Maecenas dapibus est eget tellus ullamcorper tempor.
        Ut augue leo, auctor at ligula vitae, placerat consequat nunc. Etiam a faucibus erat, quis tincidunt massa. Nunc
        orci velit, venenatis et nisl ut, aliquet accumsan magna. Nulla iaculis, eros vitae rhoncus tincidunt, est felis
        egestas arcu, vitae interdum quam nulla eu diam. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices
        posuere cubilia Curae; Praesent commodo lacinia elit vitae semper. Nulla feugiat arcu et interdum rutrum.</p>
    </div>
    <div class="hide-on-med-and-up col s12">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header" style="border: none;">
          <h5>Publications & Acknowledgments</h5>
        </li>
        <li class="collection-item" style="border: none;">first</li>
        <li class="collection-item" style="border: none;">second</li>
        <li class="collection-item" style="border: none;">third</li>
      </ul>
    </div>
  </div>
</div>