<div class="center-align">
  <div class="row">
      <div class="hide-on-small-only col m5 col l5">
          <img class="responsive-image " src="/assets/paintings/nudeselfie.jpeg">
        <ul class="collection with-header" style="border: none;">
          <li class="collection-header" style="border: none;">
            <h5>Features</h5>
          </li>
          <li class="collection-item" style="border: none;">Cantilevers Journam of the Arts - 2010</li>
          <li class="collection-item" style="border: none;">Shaker Life Magazine - 2012</li>
          <li class="collection-item" style="border: none;">The Shakerite - 2004</li>
        </ul>
      </div>
    <img class="responsive-image hide-on-med-and-up " src="/assets/paintings/nudeselfie.jpeg">
    <div class="col s12 m6 l6 left-align">
      <h2>About the Artist</h2>
      <p class="flow-text">Arden prides himself on telling a story through color, light, and brush stroke.  His portraits invite you into the personality of the subject, his landscapes a nostalgic glimpse into the history of the place, his playful application of color challenges the viewer to look closer, stop longer, and seek solace in the subtle illusions of light and shadow in their own surroundings.<br><br>Inspired by Norman Rockwell and grandmother, Kathie Arden, this NY-based Cleveland ex-pat brings a midwestern flare to the North American art scene.</p>
    </div>
    <div class="hide-on-med-and-up col s12">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header" style="border: none;">
          <h5>Features</h5>
        </li>
        <li class="collection-item" style="border: none;">Cantilevers Journam of the Arts - 2010</li>
        <li class="collection-item" style="border: none;">Shaker Life Magazine - 2012</li>
        <li class="collection-item" style="border: none;">The Shakerite - 2004</li>
      </ul>
    </div>
  </div>
</div>