<div *ngIf="selectedImage!=''" class="row">
  <p (click)="exitLightbox()"><i
  class="material-icons closelightbox right-align col s1 col m1 col l1 offset-s10 offset-m10 offset-l10">close</i></p>
</div>
<div class="container hide-on-med-and-down">
  <div class="row">
    <div *ngIf="selectedImage != ''">
      <img [src]="selectedImage" class="responsive-image col s12 col m12 col l12">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let image of butterflies" class="col s12 m6 l6 works2image center-align" (click)="lightbox($event)"
      [ngClass]="(selectedImage =='')?'showall':'hideall'">
      <img [src]="image.piece" class="responsive-image" style="height: 50vh;">
      <p style="font-size: 14.5;">{{image.description}}</p>
    </div>
  </div>
</div>

<!-- FOR MOBILES -->
<div class="container hide-on-large-only">
  <div class="row">
    <div *ngIf="selectedImage != ''">
      <img [src]="selectedImage" class="responsive-image col s12 col m12 col l12">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let image of butterflies" class="col s12 works2image center-align" (click)="lightbox($event)"
      [ngClass]="(selectedImage =='')?'showall':'hideall'">
      <img [src]="image.piece" class="responsive-image">
      <p style="font-size: 14.5;">{{image.description}}</p>
    </div>
  </div>
</div>
