<div class="container">
  <div class="row"></div>
  <h1>contact</h1>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">subject</i>
          <input id="icon_telephone" type="tel" class="validate" placeholder="Ex: Commission Inquiry">
          <label for="icon_telephone">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m9">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>
</div>