<div class="navbar-fixed">
  <nav class="z-depth-0 center-align">
    <div class="nav-wrapper white ">
      <a href="#!" class="black-text flow-text">Arden McWilliams</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="sass.html">Contact</a></li>
        <li><a class="black-text" href="badges.html">Instagram</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav black-text" id="mobile-demo">
  <li><a class="black-text" href="sass.html">Contact</a></li>
  <li><a class="black-text" href="badges.html">Instagram</a></li>
</ul>

<!-- <div class="container"> -->
<app-landing></app-landing>
<!-- </div> -->
<div class="container">
  <app-landing></app-landing>
</div>
<router-outlet></router-outlet>