<div class="navbar-fixed">
  <nav class="z-depth-0">
    <div class="nav-wrapper white">
      <a href="#!" class="black-text brand-logo center hide-on-med-and-down" style="font-size: auto;">Arden McWilliams</a>
      <a href="#!" class="black-text center hide-on-large-only" style="font-size: auto;">Arden McWilliams</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- <li><a class="black-text" href="sass.html" [routerLink]="['/landing-2']">Landing II</a></li> -->
        <li><a class="black-text" href="sass.html" [routerLink]="['/works-1']">Works I</a></li>
        <li><a class="black-text" href="sass.html" [routerLink]="['/about']">About</a></li>
        <li><a class="black-text" href="sass.html">Contact</a></li>
        <li><a class="black-text" href="badges.html">Instagram</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav black-text" id="mobile-demo">
  <li><a class="black-text" href="sass.html">Contact</a></li>
  <li><a class="black-text" href="badges.html">Instagram</a></li>
</ul>

<router-outlet></router-outlet>