<div *ngIf="selectedImage!=''" class="row">
  <p (click)="exitLightbox()"><i
  class="material-icons closelightbox right-align col s1 col m1 col l1 offset-s10 offset-m10 offset-l10">close</i></p>
</div>
<div class="container">
  <div class="row">
    <div *ngIf="selectedImage != ''">
      <img [src]="selectedImage" class="responsive-image col s12 col m12 col l12">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let image of images" class="col s12 m12 l12 works2image center-align" (click)="lightbox($event)"
      [ngClass]="(selectedImage =='')?'showall':'hideall'">
      <img [src]="image.piece" class="responsive-image" style="height: 40vh;">
      <p style="font-size: 14.5;">{{image.description}}</p>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let image of images2" class="col s12 m4 l4 works2image center-align" (click)="lightbox($event)"
      [ngClass]="(selectedImage =='')?'showall':'hideall'">
      <img [src]="image.piece" class="responsive-image" style="height: 40vh;">
      <p style="font-size: 14.5;">{{image.description}}</p>
    </div>
  </div>

</div>