/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Questrial', sans-serif;
}
.responsive-image{
    max-width: 100%;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
.closelightbox:hover{
  cursor: pointer;
}
.showall{
  opacity:1;
}
.hideall{
  opacity:0;
}